* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.flex-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    min-width: 0;
}

.flex-item-size-25 {
    flex-basis: 25%;
}

.flex-item-size-50 {
    flex-basis: 50%;
}

.flex-item-size-100 {
    flex-basis: 100%;
}

.winners-list {
    margin-top: 30px;
}

.rulete-container {
    background-color: beige;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.master-container {
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 100vh;
}

.forms-container {
    background-color: burlywood;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}